<main class="main single" id="main">
    <div class="main-inner">
        <div style="width:100%; height:100%;align:center">
            <img src="https://www.dmoe.cc/random.php" width="100%" height="100%" />
        </div>
        <p id="hitokoto" align="center">:D 获取中...</p>
        <br><br> <br><br>
        <b><p align="center" >正确食用方法是上边的导航栏</p></b>
        <!-- 现代写法，推荐(不支持 IE) -->
        <script>
          fetch('https://v1.hitokoto.cn/?c=b')
            .then(response => response.json())
            .then(data => {
              const hitokoto = document.getElementById('hitokoto')
              hitokoto.innerText = data.hitokoto
            })
            .catch(console.error)
        </script>
    </div>
</main>
